.block1 {
   background-color: red;
   height: 100vh;
   max-width: 1200px;
   margin: 0 auto;
   /* padding: 20px 20px 20px 20px; */
   position: relative;
}

.block2 {
   height: 50%;
   width: 50%;
   background-color: #fff;
   border-radius: 10px;
   position: absolute;
   /* right: 50%; */
   /* left: 50%; */
   /* top: 50%; */
   /* bottom: 50%; */
   transform: translate(50%, 50%);
}

.nav {
   /* display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center; */
   margin: 0 auto;
   text-align: center;

}


.nav__link {
   list-style-type: none;
   display: inline-block;
   /* margin-right: 10px; */
   padding: 5px 10px;
   cursor: pointer;
   border: 1px solid black;
   margin-right: 80px;
   border-radius: 5px;
   transition: ease .4s;
}
.nav__link:hover {
   background-color: red;
   color: #fff;
}